<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h2>Register</h2>
  <form class="was-validated" [formGroup]="rfRegister" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" formControlName="email" class="form-control" placeholder="Input email..."
             [ngClass]="rfRegister.controls['email'].invalid ? 'is-invalid' : 'is-valid'"/>
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['email'].errors?.required && (rfRegister.controls['email'].touched)">
          Please fill in
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" formControlName="password" class="form-control"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input type="password" formControlName="confirmPassword" class="form-control"
             [ngClass]="rfRegister.errors?.reConfirmPass ? 'is-invalid' : 'is-valid'"/>
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.errors?.reConfirmPass" class="invalid-feedback">
          Password not match...
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Country</label>
      <select formControlName="country" [ngClass]="rfRegister.controls['country'].invalid?'is-invalid':'is-valid'">
        <option value="" selected>Country</option>
        <option type="text" value="Korean">Korean</option>
        <option type="text" value="America">America</option>
        <option type="text" value="Japan">Japan</option>
        <option type="text" value="France">France</option>
      </select>
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['country'].errors?.required && rfRegister.controls['country'].touched " >
          Please provide country
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Age</label>
      <input type="number" formControlName="age" class="form-control"
             [ngClass]="rfRegister.controls['age'].invalid ? 'is-invalid' : 'is-valid'"/>
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['age'].errors?.required && rfRegister.controls['age'].touched ">
          Please provide age
        </div>
        <div *ngIf="rfRegister.controls['age'].errors?.min && rfRegister.controls['age'].touched">
          Please provide age greater 18 years old
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Gender</label>
      <input formControlName="gender" value="Male" type="radio"
             [ngClass]="rfRegister.controls['gender'].invalid?'is-invalid':'is-valid'">Male
      <input formControlName="gender" value="Female" type="radio"
             [ngClass]="rfRegister.controls['gender'].invalid?'is-invalid':'is-valid'">Female
      <input formControlName="gender" value="LBGT" type="radio"
             [ngClass]="rfRegister.controls['gender'].invalid?'is-invalid':'is-valid'">LBGT
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['gender'].errors?.required ">
          Please provide gender
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Phone</label>
      <input formControlName="phone" type="text" class="form-control"
             [ngClass]="rfRegister.controls['phone'].invalid?'is-invalid':'is-valid'">
      <div class="invalid-feedback">
        <div *ngIf="rfRegister.controls['phone'].errors?.required && (rfRegister.controls['phone'].touched)">
          Please provide phone
        </div>
        <div *ngIf="rfRegister.controls['phone'].errors?.pattern && (rfRegister.controls['phone'].touched)">
          Phone invalid, for example: +84123456789
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!rfRegister.valid">Submit</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>
