<!--<app-caculator></app-caculator>-->
<!--<app-color-piker></app-color-piker>-->
<!--<app-angular-rating-bar cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-angular-rating-bar>-->
<!--<app-demo></app-demo>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-countdown-timer></app-countdown-timer>-->
<!--<app-input></app-input>-->
<!--<app-register></app-register>-->
<!--<a routerLink="/product/list">Danh sách sản phẩm</a>|<a routerLink="/product/create">Tạo mới sản phẩm</a>|<a routerLink="/product/edit">Sửa sản phẩm</a>|<a routerLink="/product/delete">Xóa sản phẩm</a>-->
<!--<a routerLink="/dictionary/home">Từ điển</a>-->
<router-outlet></router-outlet>
